@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #FFFBEB;
  color: #4A3F2A;
  font-family: ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
img { max-width: 100%; height: auto; display:block; }
a { text-decoration: none; }
